@font-face {
    font-family: 'machinesite-font';
    src: url('coolvetica.rg-regular.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'dropdown-font';
    src: url('source-sans-pro.extralight.ttf');
    font-weight: bold;
    font-style: normal;
}
